/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.3s;
    text-align: center;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #2a4932;
}

*::selection {
    background-color: #75d68e;
    color: #2a4932;
}

body {
    background-color: white;
    height: 100vh;
}

h1 {
    font-size: 37px;
}

h2 {
    font-size: 27px;
}

h1,
h2 {
    text-transform: capitalize;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:focus,
a:hover,
i:focus,
i:hover,
#submit-btn:focus,
#submit-btn:hover {
    color: #5ea36f;
    cursor: pointer;
}

i:focus,
i:hover {
    transition: 0.5s;
    transform: scale(1.15) rotateZ(-5deg);
}

#submit-btn {
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
}

figure:focus,
figure:hover {
    transition: 0.5s;
    transform: scale(1.05) rotateZ(-2deg);
}

#home {
    position: absolute;
    top: 40px;
    left: 40px;
}
