/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    line-height: 100px;
    text-transform: capitalize;
    font-size: 37px;
}

#container {
    margin-top: 30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 3em;
}

#img1,
#img2 {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

#img1 {
    background-color: black;
}

#img2 {
    background-color: green;
}

#endHex {
    display: none;
}

header,
footer {
    background-color: white;
    max-width: 400px;
    padding: 0 40px;
    margin: auto;
    width: 70%;
}

header {
    border-radius: 15px 15px 0 0;
}

footer {
    border-radius: 0 0 15px 15px;
    padding: 0 40px 40px;
}

/*Slider css - Made by W3Schools*/
#slidecontainer {
    width: 50%;
    margin-top: 50px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}